<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('./partials/head') %> 
</head>
<body>
    <%- include ('./partials/menutologin') %>
    
    <div class="footer">
        <%- include ('./partials/scripts') %>
        <%- include ('./partials/footer') %>
    </div>
       
</body>
<%- include ('./pagescripts') %>
</html>
